{% extends "base.html" %}
{% block title %}Listing Accounts{% endblock %}=

{% block content %}

<h1 class="display-4">View Listings</h1>
<h5 class="display-6">Listings</h5>
<a href="/viewCart" class="btn btn-warning" style="float: right;">View Cart</a>
<form class="form-inline my-2 my-lg-0" action="{{ url_for('search_filter')}}" method="post">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_term">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="row">
  {% if count == 0 %}
  <p>There are no listings.</p>
  {% elif count == 1 %}
  <p>There is 1 listing.</p>
  {% else %}
  <p>There are {{ count }} listings.</p>
  {% endif %}
  {% for listing in listings_list %}
  
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <img src="/static/assets/img/placeholder_img.jpeg" alt="Image" style="width: 150px; height: 150px;">
        <hr>
        <h5 class="card-title">{{ listing.get_listing_name() }}</h5>
        <p class="card-text">{{ listing._Listing__listing_description }}</p>
        <p>Listing ID: {{ listing.get_listing_id() }}</p>
        <p>Listing Owner: {{ listing.get_listing_owner() }}</p>
        <p>Listing Price: {{ listing.get_listing_price() }}</p>
        <p>Listing Stock: {{ listing.get_listing_stock() }}</p>
        <p>Listing Location: {{ listing._Listing__listing_location }}</p>
        <td><a href="/viewCart/{{listing.get_listing_id()}}" class="btn btn-warning">Add to Cart</a></td>
      </div>
    </div>
  </div>
  {% endfor %}
  
  </div>
{% endblock %}
